
.header {
    background-image: url("../img/head.jpg");
    color: #ffffff;
    padding: 16px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.divBody {
    margin: 40px;
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: #666666
}

.divfooter {
    margin: 20px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

.spanVerde {
    font-weight: bold;
    font-size: 10.0pt;
    font-family: 'Arial';
    color: #668E1C;
}

a:link {
    color: blue;
}

/* visited link */
a:visited {
    color: blue;
}
 