
.header {
    background-image: url("../img/head.jpg");
    color: #ffffff;
    padding: 16px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.divBody {
    margin: 40px;
    font-size: 9.0pt;
    font-family: "Arial",sans-serif;
    color: #666666
}

.divfooter {
    margin: 20px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

.spanVerde {
    font-weight: bold;
    font-size: 10.0pt;
    font-family: 'Arial';
    color: #668E1C;
}

a:link {
    color: blue;
}

/* visited link */
a:visited {
    color: blue;
}

/* Center the loader */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1 !important;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    width: 120px;
    height: 120px;  
    display: none;

}


.blur-custom {
    box-shadow: 0px 0px 20px 20px rgba(255,255,255,1);
    text-shadow: 0px 0px 10px rgba(51, 51, 51, 0.9);
    /*transform: scale(0.95);*/
    opacity: 0.7;
}
